.container {
    height: 90vh;
}

.imgBgContainer {
    
}

.bgImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 60vh;
    height: 100%;
}


.bg {
    background: linear-gradient(to top, var(--darkest-color) 40%, #0f1219e0 50%, #0f1219b9 60%, #0f12199a 70%, transparent 100%),
    linear-gradient(to bottom, var(--darkest-color) 2%, #0f1219e0 4%, #0f1219b9 8%, #0f12199a 10%, transparent 15%);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 9999;
    margin-top: 10vw;
}

.movieInfoContainer {
    width: 100%;
    max-width: 800px;
    padding-inline: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    flex-wrap: wrap;
    align-items: end;
    row-gap: 1rem;
}

.moviePoster {
    width: 20vw;
    min-width: 220px;
    margin: 0 auto;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info .title {
    font-size: 3rem;
    font-family: var(--subtitle-font);
    font-weight: bold;

    margin-bottom: 2rem;
    margin-top: .5rem;
}

.genreContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

}

 .genreItem {
    padding-right: .5rem;
    font-size: .8rem;
    color: var(--contrast-light-color);
    cursor: pointer;
    font-family: var(--text-font);
    border-right: 1px solid var(--contrast-light-color);
}
.genreItem:last-of-type {
    border-right: none;
}

.genreItem:hover {
    color: var(--lightest-color);
    transition: .2s;
}

.overview {
    font: 1rem var(--subtitle-font);
    max-height: 150px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -line-height: 16px;
    margin-bottom: 2rem;
}

/*scrollbar container result filter */
.overview::-webkit-scrollbar {
    width: 5px;
}

.overview::-webkit-scrollbar-thumb {
    background-color: var(--contrast-dark-color);
}

.overview::-webkit-scrollbar-track {
    background: var(--gradient-color);
}

.overview::-webkit-scrollbar-thumb:hover {
    background-color: var(--contrast-light-color);
}


.detailsMovie {
    display: flex;
    column-gap: 2rem;
}

.detailsMovie span {
    color: var(--shadow-light-color);
    font-family: var(--subtitle-font);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0rem;
}

.director {
    color: var(--contrast-light-color) !important;

}

.section {
    z-index: 9999999999999999999999999;
    position: relative;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.subtitle {
    font-size: 1.8rem;
    font-family: var(--subtitle-font);
    -color: var(--contrast-light-color);
    margin-bottom: 1rem;
    position: relative;
}

.containerIframes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.containerIframes > iframe {
    height: auto;
    aspect-ratio: 16/9;
    width: 100%;
}

.containerCast {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    overflow-y: hidden;
}

.containerCast img {
    cursor: pointer;
}

.containerCast img:hover {
    box-shadow: rgba(76, 202, 122, 0.09) 0px 2px 1px, rgba(76, 202, 122, 0.09) 0px 4px 2px, rgba(76, 202, 122, 0.09) 0px 8px 4px, rgba(76, 202, 122, 0.09) 0px 16px 8px, rgba(76, 202, 122, 0.09) 0px 32px 16px;
    transition: .2s;
}

/*scrollbar container result filter */
.containerCast::-webkit-scrollbar {
    height: 10px;
}

.containerCast::-webkit-scrollbar-thumb {
    background-color: var(--contrast-dark-color);
}

.containerCast::-webkit-scrollbar-track {
    background: var(--gradient-color);
}

.containerCast::-webkit-scrollbar-thumb:hover {
    background-color: var(--contrast-light-color);
}

.castCard {
    width: 80px;
    min-width: 80px;
    height: auto;
    margin-bottom: .5rem;

}

.castCard img {
    width: 100%;
    border-radius: 5px;
}

.castCard p {
    font-size: .9rem;
    font-family: var(--subtitle-font);
}





.lateralSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
    row-gap: 2rem;
}

.watchImg {
    width: 15vw;
    min-width:20px;
    max-width: 70px;
    height: auto;
    margin-right: 1rem;
    border-radius: 5px;
    transition: .2s;
}

.lateralSection .containerSection:first-of-type {
    padding-right: 5vw;
}

.directorCard {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    overflow-y: hidden;
    width: 100%;
}

.lateralSection img {
    cursor: pointer;
}

.lateralSection .containerSection {
    width: fit-content;

}


.containerReviews {
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*scrollbar container result filter */
.containerReviews::-webkit-scrollbar {
    height: 10px;
}

.containerReviews::-webkit-scrollbar-thumb {
    background-color: var(--contrast-dark-color);
}

.containerReviews::-webkit-scrollbar-track {
    background: var(--gradient-color);
}

.containerReviews::-webkit-scrollbar-thumb:hover {
    background-color: var(--contrast-light-color);
}

.reviewCard{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.reviewAuthor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    border-bottom: 1px solid var(--shadow-dark-color);
}

.reviewAuthor {
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    font-size: 1.1rem;
    font-family: var(--subtitle-font);
    color: var(--contrast-light-color);
}

.rating {
    display: flex;
    align-items: center !important;
    column-gap: .3rem;
    margin: 0;
}

.rating i {
    font-size: .8rem;
    color: goldenrod;
}

.rating span {
    color: var(--lightest-color);
    font-size: .9rem;
}

.reviewAvaliation {
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 0 0 10px 10px;
    font-size: 1.1rem;
    font-family: var(--subtitle-font);
    color: var(--contrast-light-color);
    column-gap: .5rem;
    position: relative;
}

.reviewAvaliation p {
    align-self: last baseline;
    color: var(--lightest-color);
}

.reviewAvaliation p:last-of-type {
    position: absolute;
    bottom: 10px;
    transform: translateY(-50%);
    right: 10px;
    font-size: .8rem;
    color: var(--shadow-light-color);
}

.boxContent {
    font-family: var(--text-font);
    padding: 1rem;
    overflow-y: auto;
    height: 120px;
    font-size: .8rem;
    line-height: 1rem;
}

/*scrollbar container result filter */
.boxContent::-webkit-scrollbar {
    width: 5px;
}

.boxContent::-webkit-scrollbar-thumb {
    background-color: var(--contrast-dark-color);
}

.boxContent::-webkit-scrollbar-track {
    background: var(--gradient-color);
}

.boxContent::-webkit-scrollbar-thumb:hover {
    background-color: var(--contrast-light-color);
}


@media screen and (max-width: 563px) {
    .info {
        text-align: center !important;
    }

    .info .title {
        font-size: 2rem;
    }

    .genreContainer {
        justify-content: center;
    }

    .detailsMovie {
        justify-content: center;
    }
}


@media screen and (max-width: 525px) {
    .containerIframes > iframe {
        width: 60vw !important;
        min-width: 250px;
    }
}

@media screen and (max-width: 560px) {
    .containerReviews {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}