.navbar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid var(--shadow-dark-color);
}

.title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--contrast-light-color);
    font-family: var(--logo-font);
}

.list,
.lateralMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    font-size: 1.3rem;
    font-family: var(--subtitle-font);
}

.list a:not(.activeItemMenu):hover {
    color: var(--contrast-light-color);
    transform: scale(1.1);
    transition: .2s;
}

.activeItemMenu {
    border-bottom: 3px solid var(--contrast-light-color);
    padding-bottom: .85rem;
}

.activeItemMenu:hover {
    color: var(--lightest-color);
    scale: none;
}

/*social container ---------------*/

.iconInfo {
    display: none;
    font-size: 1.2rem;
    color: var(--lightest-color);
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.iconInfo:hover {
    color: var(--contrast-light-color);
    transition: .2s;
}

.socialContainer {
    display: flex;
    column-gap: .5rem;
    justify-content: center;
}

.socialContainer i {
    font-size: 1.2rem;
    color: var(--contrast-light-color);
    cursor: pointer;
    padding: .3rem;
}

.socialContainer i:hover {
    scale: 1.05;
    background-color: var(--contrast-light-color);
    color: var(--gradient-color);
}

/*icons to open and close lateral menu ---------------*/

.iconOpenMenu {
    font-size: 2rem;
    display: none;
    justify-self: center;
}

.iconCloseMenu {
    font-size: 2rem;
    justify-self: center;
}


/*active hamburguer menu and change list items ----------------*/
@media screen and (max-width: 750px) {
    .iconOpenMenu {
        display: block;
    }

    .list {
        display: none;
    }

    .lateralMenu {
        display: block;
        position: absolute;
        flex-direction: column;
        z-index: 9999999;
        background-color: var(--gradient-color);
        width: 100vw;
        top: 9vh;
        padding-block: 1rem;
        border-bottom: none;
    }

    .lateralMenu a {
        width: 100vw;
        text-align: center;
        padding-block: 1rem;
        display: block;
    }

    .activeItemMenu {
        background-color: var(--contrast-light-color);
        color: var(--gradient-color);
    }
}

/*active info icon and change social icons ----------*/
@media screen and (max-width: 500px) {
    .title {
        font-size: 1.2rem;
    }

    .iconInfo {
        display: block;
    }

    .socialContainer {
        display: none;
    }

    .openSocial {
        display: flex;
        position:absolute;
        top: 11vh;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        column-gap: 0;
    }

    .openSocial i {
        background-color: var(--shadow-dark-color);
        color: var(--contrast-light-color);
        cursor: pointer;
        font-size: 1rem;
        padding: .5rem;
    }

    .openSocial i:hover {
        color: var(--gradient-color);
        background-color: var(--contrast-light-color);
    }
}


/*remove close menu icon when screen is bigger than 750px ---------------*/
@media screen and (min-width: 750px) {
    .iconCloseMenu {
        display: none;
    }
}