.container {
    height: 90vh;
}

.imgFundo {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 70%;
    height: 90vh;
    -filter: blur(1px);
    object-fit: cover;
}

.bg {
    background: linear-gradient(to top, var(--darkest-color) 10%, #0f1219e0 20%, #0f1219b9 30%, #0f12199a 40%, transparent 60%),
        linear-gradient(to bottom, var(--darkest-color) 2%, #0f1219e0 4%, #0f1219b9 8%, #0f12199a 10%, transparent 15%),

        linear-gradient(to bottom right, var(--darkest-color) 4%, #0f1219e0 7%, #0f1219b9 10%, #0f12199a 15%, transparent 20%),
        linear-gradient(to bottom left, var(--darkest-color) 4%, #0f1219e0 7%, #0f1219b9 10%, #0f12199a 15%, transparent 20%),

        linear-gradient(to right, var(--darkest-color) 40%, #0f1219e0 45%, #0f1219b9 50%, #0f12199a 55%, transparent 60%);


    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.cards {
    display: flex;
    position: absolute;
    align-items: end;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    -left: 15%;

    z-index: 99;
    column-gap: 1rem;

    padding-bottom: 3rem;

}

.active {
    position: relative;
    width: 200px !important;
    height: 300px !important;
    box-shadow: 0px 30px 10px 1px #7cae7a77;

    /* box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px; */

    box-shadow: rgba(76, 202, 122, 0.09) 0px 2px 1px, rgba(76, 202, 122, 0.09) 0px 4px 2px, rgba(76, 202, 122, 0.09) 0px 8px 4px, rgba(76, 202, 122, 0.09) 0px 16px 8px, rgba(76, 202, 122, 0.09) 0px 32px 16px;
}


.card {
    width: 10vw;
    height: 200px;
    border-radius: 5px;
}

/*arrow to scroll carrousel of movies -----------------*/
.arrow {
    position: relative;
    bottom: 80px;
    color: var(--gradient-color);
    background-color: var(--contrast-light-color);
    cursor: pointer;
    font-size: 2rem;
}
.arrow:hover {
    background-color: var(--contrast-dark-color);
    color: var(--lightest-color);
    scale: 1.1;
    transition: .2s;
}


.info {
    z-index: 99;
    position: absolute;
    width: 100%;
    max-width: 400px;
    left: 15vw;
    -top: 150px;
    top: 25vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    height: 100%;
    max-height: 320px;
    min-height: 200px;

    -overflow-y: auto;
}

.movieTitle  {
    font-size: 2.5rem;
    font-family: var(--text-font);
    font-weight: bold;

    display: flex;
    flex-direction: row;
    column-gap: 3vw;
    align-items: start;
    flex-wrap: wrap;

}

.containerDetails {
    display: flex;
    align-items: center;
    column-gap: 1vw;
}

.iconStar {
    color: yellow;
    width: 15px;
}

.containerDetails span:last-of-type {
    display: flex;
    column-gap: .5rem;
}

.movieGenres {
    font-size: 1rem;
    font-family: var(--text-font);
}

.info p {
    font-size: 1.1rem;
    font-family: var(--subtitle-font);
    overflow-y: auto;
    height: 100%;
    max-height: 70px;
    -min-height: 90px;
    padding-right: 2vw;
    color: #ffffff80;
    row-gap: .5rem;

}

.info p::-webkit-scrollbar {
    width: 4px;
}

.info p::-webkit-scrollbar-thumb {
    background-color: var(--contrast-dark-color);
    border-radius: 0px;

}

.info p::-webkit-scrollbar-track {
    background: var(--gradient-color);

}

.subtitle {
    display: flex;
    column-gap: 1rem;
}

.btnsAction {
    -display: flex;
    /* flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    position: absolute;
    left: -50px;
    top: 5px; */
}

.btnsAction i {
    background-color: var(--contrast-light-color);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.btnsAction i:hover {
    scale: 1.05;
    transition: .2s;
    background-color: var(--lightest-color);
    color: var(--gradient-color);
}

.btnsAction .btnDetails {
    background-color: var(--contrast-dark-color);
}


.modalTrailer {
    position: absolute;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.modalTrailer iframe {
    width: 50vw;
    max-width: 700px;
    min-width: 250px;
    aspect-ratio: 16 / 9;
    border: 10px solid var(--gradient-color);
}

.btnCloseModalTrailer {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--gradient-color);
    z-index: 9999999;
    padding: .2rem;
    font-size: 2rem;
    cursor: pointer;
}

.btnCloseModalTrailer:hover {
    background-color: var(--contrast-dark-color);
    transition: .2s;
}


.filtrosContainer {
    background-color: red;
}


@media screen and (max-width: 950px) {
    .card:nth-of-type(6) {
        display: none;
    }

    .active {
        width: 180px !important;
        height: 270px !important;
    }
}

@media screen and (max-width: 850px) {
    .card:nth-of-type(1) {
        display: none;
    }

    .movieTitle  {
        font-size: 2rem;
    }

    .info {
        row-gap: 1rem;
    }

    .info p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 750px) {
    .card:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .card:nth-of-type(3) {
        display: none;
    }

    /* 
    .info p {
        display: none;
    } */
}

@media screen and (max-width: 650px) {
    .card:nth-of-type(4) {
        display: none;
    }

    .active {
        width: 200px !important;
        height: 300px !important;
    }

    .card {
        display: none;
    }

    .active {
        display: block;
    }

    .arrow {
        width: 20px;
    }

    .cards {
        left: 50%;
        transform: translateX(-50%);
        bottom: 30vh;
    }

    .info {
        text-align: center;
        top: 68vh;
        left: 50% !important;
        transform: translateX(-50%);
        row-gap: 3vw;
        max-height: 200px !important;
    }

    .movieTitle {
        font-size: 1.5rem;
        justify-content: center;
    }

    .info p {
        font-size: .9rem;
        height: 100px;
        text-align: center;
    }

    .containerDetails {
        font-size: .9rem;
        justify-content: center;
    }

    .imgFundo {
        width: 100% !important;
    }

    .bg {
        background: linear-gradient(to top, var(--darkest-color) 10%, #0f1219e0 20%, #0f1219b9 30%, #0f12199a 40%, transparent 60%),
        linear-gradient(to bottom, var(--darkest-color) 4%, #0f1219e0 8%, #0f1219b9 12%, #0f12199a 15%, transparent 60%);
    }
}

@media screen and (max-width: 500px) {
    .info {
        width: 75% !important;
    }
}




@media screen and (max-width: 350px) {
    .card {
        display: none;
    }

    .active {
        display: block;
    }

    .arrow {
        width: 20px;
    }

    .cards {
        left: 50%;
        transform: translateX(-50%);
        bottom: 30vh;
    }

    .info {
        top: 68vh;
        row-gap: .5rem;
        max-height: 200px !important;
    }

    .movieTitle {
        font-size: 1.5rem;
    }

    .info p {
        font-size: .9rem;
        height: 100px;
        display: none;
    }

    .movieGenres {
        font-size: .9rem;
    }

    .btnsAction {
        position: relative;
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 1rem;
    }
}