:root {
    --darkest-color: #0F1219;
    --lightest-color: #DFDFE0;
    --gradient-color: #0E2326;
    --contrast-dark-color: #104848;
    --contrast-light-color: #7cae7a;
    --shadow-dark-color: #33393B;
    --shadow-light-color: #5d5d5d;
}